body, p{
    margin: 0;
    padding: 0;
}

nav{

    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding: 2em;
}
 a{

    color: black;
    text-decoration: none;
}
a:hover{
     text-decoration: underline;
}
nav img{
    height: 20px;
}
main{

    width: 50%;
    margin: 5.6em auto;
    text-align: center;


}
input{

    width: 80%;
    padding: 1em;
    border-radius: 20px;
    border: 1px solid black;
}
.ggg_container{
    margin-top: 1em;
}
.ggg_container button{
    padding: 1em;
    border: none;
}
main img {
    width: 40%;

}
footer{
    background-color: rgb(201, 201, 201);
}
.footer_top{
    padding: 1em;
}
.footer_content{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}
.left a{
    margin-right: 1em;
}
.right a {
    margin-right: 1em;
}